<!-- <div class="parent flex w-full">
  <p-card header="" [style]="{background:'#3b82f6'}">
    <div class=" p-2 w-[50%]  flex align-items-center gap-1">
      <img src="../../assets/Q11-logo.png" alt="" style="width: 35px;">
      <h1 class="text-white " >Q11 Assistant</h1>

    </div>
    <div class=" w-[50%]">
      <button class="border-round-xs">
        <img src="../../assets/resize16.png" alt="">
      </button>
      <button>
        <img src="../../assets/resize16.png" alt="">

      </button>
      <button>
        <img src="../../assets/resize16.png" alt="">

      </button>
    </div>

</p-card>
</div> -->

<div class="parent w-full flex p-2">
  <div class="leftdiv flex w-6 gap-2">
    <img src="../../assets/Q11-logo.png" alt="" style="width: 35px;">
    <h1 class="text-white " >Q11 Assistant</h1>
  </div>
  <div class="rightdiv flex align-items-center justify-content-end w-6 gap-2">
    <button class="border-circle p-1">
      <img src="../../assets/layout.png" alt="" class="border-circle">
    </button>
    <button class="border-circle p-1">
      <!-- <img src="../../assets/resize16.png" alt="" class="border-circle"> -->
      <i class="pi pi-minus" style="font-size: 10px"></i>

    </button>
    <button class="border-circle p-1">
      <img src="../../assets/resize16.png" alt="" class="border-circle">

    </button>
  </div>

</div>
