ul {
  list-style-type: none;
}


li{
    padding: 12px 0px;
    border-bottom: 1px solid #d5d5d5;
    margin-left: 20px;
    margin-right: 20px;

}

.locationswitch{
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.theinnerdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px !important;
}


.title{
  padding: 1%;
    margin: 0% 1%;

}


.text{
  padding-top: 1%;
  padding-left: 2.3%;
  padding-right: 2.3%;
}


.locationswitch p-inputswitch {
  display: flex;
}


.icon{
  width: 18px !important;
  height: 18px !important;
  object-fit: contain;
}
