<div class="parent ">
<div class="chat">
  <ul>
    @for(message of messages; track $index){
      <li> <div class="chatui flex align-items-center"  [ngStyle]="{'justify-content':message.from === 'BOT' ? 'flex-start' : 'flex-end'}"><img src="../../assets/support.svg" width="20px" alt="logo">{{message.message}}</div>  </li>

    }
  </ul>
</div>
<div class="inputdiv flex justify-content-center align-items-center w-full">
  <textarea rows="1" cols="30" [autoResize]="true"  pInputTextarea [(ngModel)]="inputtext"></textarea>
  <!-- <p-button icon="pi pi-send" (onClick)="addMessage()"></p-button> -->
  <p-button  (onClick)="addMessage()"> <img src="../../assets/send.svg"   alt="" width="25px"> </p-button>

</div>
</div>
